<template>
  <v-container class="about">
      <v-row>
    <v-col
      v-for="(item,i) in favorite"
      :key="i"
      class="d-flex child-flex"
      cols="3"
       @click="openGif(item)"
    >
      <v-img
        :src="`${item.images.fixed_height.url}`"
        :lazy-src="`${item.images.fixed_height.url}`"
        aspect-ratio="1"
        class="grey lighten-2"
      > 
        <div>
          <v-icon :color="isFAvorite(item) ? 'red' : 'white'" @click="addFavorite(item)" >mdi-heart</v-icon>
        </div>
        
        <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular
              indeterminate
              color="grey lighten-5"
            ></v-progress-circular>
          </v-row>
        </template>
      </v-img>
    </v-col>
  </v-row>

  <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-app-bar
          dark
          color="transparent"
          absolute
          style="box-shadow: none"
        >
          
          <v-spacer></v-spacer>
          <v-btn
            icon
            dark
            @click="dialog = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-app-bar>
        <v-img
        :src="`${select.images.original.url}`"
        :lazy-src="`${select.images.original.url}`"
        aspect-ratio="1"
        class="grey lighten-2"

      >
   
     
        <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular
              indeterminate
              color="grey lighten-5"
            ></v-progress-circular>
          </v-row>
        </template>
      </v-img>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script lang="ts">
import { useLocalStorage } from '@vueuse/core';
import { defineComponent, ref } from 'vue';
  import { IChannel, IGif } from '@giphy/js-types';
export default defineComponent({
  name: 'about',
  setup(){
    const {value: favorite} = useLocalStorage<IGif[]>('favoritos', [])
     const dialog = ref(false)
      const select = ref<IGif>({
        images:{
        fixed_height:{url:''},
         original:{url:''}
        }} as IGif)
        const openGif = (item: IGif)=>{
        select.value = item
        dialog.value = ! dialog.value
      }

      const isFAvorite = (item: IGif)=>{
        return favorite.findIndex(gif=>gif.id ===item.id) > -1
      }
      const addFavorite = (item: IGif)=>{
        favorite.push(item)
      }
    return {
       favorite,
       dialog,
       select,
       openGif,
       addFavorite,
       isFAvorite
    }
  },
});
</script>
