<template>
  <v-container>
    <v-col cols="12">
      <v-card>
        <v-card-title class="headline">
          Buscador por Pais
        </v-card-title>
        <v-card-text>

          <v-row>
            <v-col cols="12">
              <v-autocomplete   dense  rounded solo
                :items="country" v-model="teamsCountry" color="white" item-text="name" label="buscar por pais"
                return-object>
              </v-autocomplete>
            </v-col>
          </v-row>

        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12">
      <v-card>
        <v-card-title>
          Tabla de Equipos
        </v-card-title>
        <v-progress-linear indeterminate color="cyan" height="5" v-if="loading">
        </v-progress-linear>
        <v-card>
          <v-card-title>
            Equipos
            <v-spacer></v-spacer>
            <v-text-field v-model="search" append-icon="mdi-magnify" label="Busqueda por Equipo" single-line
              hide-details></v-text-field>
          </v-card-title>
          <v-data-table :headers="headers" :items="teamsCountry.teams" :search="search">
            <template v-slot:item.logo="{ item }">
              <v-img max-width="100" :src="item.logo"></v-img>

            </template>
          </v-data-table>
        </v-card>
      </v-card>
    </v-col>
  </v-container>
</template>



<script lang="ts">
import { defineComponent, ref, onMounted } from 'vue';
import { DeportesService } from "../services/deportes.service";
export default defineComponent({
  name: 'Equipos',
  setup() {
    const search = ref('')
    const country = ref([])
    const loading = ref<boolean>(false);
    const teamsCountry = ref({
      country_id: 0,
      name: "",
      country_code: null,
      continent: "",
      teams: []
    })
    const headers = [
      {
        text: 'Id',
        align: 'start',
        sortable: false,
        value: 'team_id',
      },
      { text: 'Nombre', value: 'name' },
      { text: 'Logo', value: 'logo' },

    ];
    const getDeportes = async () => {
      try {
        loading.value = true;
        const serviceUse = new DeportesService()
        let response = await serviceUse.getPais()
        for (let i = 4; i < 10; i++) {
          try {
            const item = response.data[i];
            item.teams = []
            const responseTeams = await serviceUse.getEquipos(item.country_id)
            item.teams = responseTeams.data
          } catch (e) {

          }
        }
        country.value = response.data
        if (country.value[6]) {
          teamsCountry.value = country.value[6]
        }
        loading.value = false;
       
      } catch (e) {
      }




    }

    onMounted(async () => {
      getDeportes()

    })

    return {
      getDeportes,
      country,
      teamsCountry,
      loading,
      headers,
      search
    }
  },
});
</script>
    