<template>
<v-container>
     <v-text-field
            v-model="search"
            :items="data"
            dense
            filled
            label="Buscador"
            @input="searchInput"
            list="browsers"
          />
  <datalist id="browsers">
    <option v-for="(item,i) in getLocalStorage" :key="i" :value="item"/>
   
  </datalist>


  <v-row>
    <v-col
      v-for="(item,i) in data"
      :key="i"
      class="d-flex child-flex"
      cols="3"
       @click="openGif(item)"
    >
      <v-img
        :src="`${item.images.fixed_height.url}`"
        :lazy-src="`${item.images.fixed_height.url}`"
        aspect-ratio="1"
        class="grey lighten-2"
      > 
        <div>
          <v-icon :color="isFAvorite(item) ? 'red' : 'white'" @click="addFavorite(item)" >mdi-heart</v-icon>
        </div>
        
        <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular
              indeterminate
              color="grey lighten-5"
            ></v-progress-circular>
          </v-row>
        </template>
      </v-img>
    </v-col>
  </v-row>

  <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-app-bar
          dark
          color="transparent"
          absolute
          style="box-shadow: none"
        >
          
          <v-spacer></v-spacer>
          <v-btn
            icon
            dark
            @click="dialog = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-app-bar>
        <v-img
        :src="`${select.images.original.url}`"
        :lazy-src="`${select.images.original.url}`"
        aspect-ratio="1"
        class="grey lighten-2"

      >
   
     
        <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular
              indeterminate
              color="grey lighten-5"
            ></v-progress-circular>
          </v-row>
        </template>
      </v-img>
      </v-card>
    </v-dialog>
</v-container>
</template>

<script lang="ts">
  import { GifsResult } from '@giphy/js-fetch-api'
  import { IChannel, IGif } from '@giphy/js-types';
import {computed, defineComponent, onMounted, ref} from 'vue'
  import HelloWorld from '../components/HelloWorld.vue'
  import {gf} from "../services/gype"
  import { useLocalStorage } from '@vueuse/core'

  export default defineComponent({
    name: 'Home',
    components: {
      HelloWorld,
    },
    setup(){
      
    const intervalo = ref<NodeJS.Timeout>(setTimeout(() => {
    }, 1000))
      const data = ref<IGif[]>([])
      const search = ref("")
      const dialog = ref(false)
      const select = ref<IGif>({
        images:{
        fixed_height:{url:''},
         original:{url:''}
        }} as IGif)
      const {value: LCStore} = useLocalStorage<string[]>('oldsearch', [])
      const {value: favorite} = useLocalStorage<IGif[]>('favoritos', [])
      const getLocalStorage = computed(()=>{
        return LCStore
      })
      const getGif = async(searchWord: string = "")=>{
          clearTimeout(intervalo.value);
      intervalo.value = setTimeout(async() => {
        data.value = await (await gf.search(`'dogs' ${searchWord}`)).data
      }, 500);
    
      }
      const searchInput = (s: string)=>{
        console.log(s);
        addLocalStore(s)
        getGif(s)
      }
      const addLocalStore = (s:string)=>{
        if (LCStore.indexOf(s.replaceAll(' ',''))=== -1){
        LCStore.push(s)
        }
      }
      const isFAvorite = (item: IGif)=>{
        return favorite.findIndex(gif=>gif.id ===item.id) > -1
      }
      const addFavorite = (item: IGif)=>{
        favorite.push(item)
      }
      const openGif = (item: IGif)=>{
        select.value = item
        dialog.value = ! dialog.value
      }
      onMounted(()=>{
        getGif()
      })
      return {
        search,
        data,
        getLocalStorage,
        searchInput,
        dialog,select,
        openGif,
        addFavorite,
        isFAvorite
      }
    }
  })
</script>
