<template>
    <v-container>
        <v-col cols="12">
            <date-picker @dateForms="eventDateForms" />
        </v-col>
        <v-col cols="12">
            <v-card>
                <v-card-title>
                    Tabla de Temporadas
                </v-card-title>
                <v-progress-linear indeterminate color="cyan" height="5" v-if="loading">
                </v-progress-linear>
                <v-data-table :headers="headers" :items="matches">
                </v-data-table>
            </v-card>
        </v-col>
    </v-container>
</template>
  
  
  
<script lang="ts">
import { defineComponent, ref, onMounted } from 'vue';
import { DeportesService } from "../services/deportes.service";
import datePicker from '@/components/datePicker.vue';
export default defineComponent({
    name: 'Temporadas',
    components: {
        datePicker,
    },
    setup() {
        const dateform=new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000).toISOString().substr(0, 10);
        const season = ref([]);
        const matches = ref([]);
        const loading = ref<boolean>(false);

        const headers = [
            {
                text: 'Fecha y Hora del partido',
                align: 'start',
                sortable: false,
                value: 'match_start',
            },
            { text: 'Equipo Local', value: 'home_team.name' },
            { text: 'Equipo visitante', value: 'away_team.name' },
            { text: 'Resultado del Partido', value: 'stats.ft_score' },
            { text: 'Estadio', value: 'venue.name' },
            { text: 'Estatus del partido', value: 'status' },


        ];
        const getSeason = async (fecha:any=dateform) => {
            try {
                loading.value = true;

                let itembundesliga = []
                const serviceUse = new DeportesService()
                let response = await serviceUse.getBundesliga()

                itembundesliga = response.data
                for (let i = 0; i < itembundesliga.length; i++) {
                    try {
                        const item = itembundesliga[i];
                        const serviceUse = new DeportesService()
                        const responseMatches = await serviceUse.getMatches(item.season_id, fecha)
                        matches.value = responseMatches.data

                    } catch (e) {

                    }
                }
                console.log(season.value)
                loading.value = false;

            } catch (e) {
            }

        }

        const eventDateForms = (dateform: any) => {
            
            getSeason(dateform)
              console.log(dateform)
        }

        const getColor = (score: any) => {
            if (score.home_score > score.away_score) return 'red'
            else if (score > 200) return 'orange'
            else return 'green'
        }

        onMounted(async () => {
         getSeason()

        })

        return {
            season,
            matches,
            loading,
            headers,
            getColor,
            eventDateForms
        }
    },
});
</script>
      