<template>
    <v-row>
      <v-col
        cols="12"
        sm="6"
        md="4"
      >
        <v-menu
          ref="menu2"
          v-model="menu"
          :close-on-content-click="false"
          :return-value.sync="date"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template v-slot:activator="{ on, attrs }">
            {{date}}
            <v-text-field
              v-model="date"
              label="Busqueda por Fecha"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="date"
            no-title
            scrollable
            @input="capture"
          >
            <v-spacer></v-spacer>
            <v-btn
              text
              color="primary"
              @click="menu = false"
            >
              Cancel
            </v-btn>
            <v-btn
              text
              color="primary"
              @click="menu2.save(date)" 
               >
              OK
            </v-btn>
          </v-date-picker>
        </v-menu>
      </v-col>
      </v-row>
      </template>

<script lang="ts">
    import { defineComponent, ref,} from 'vue';
   
    export default defineComponent({
      name: 'datepicker',
      emits:["dateForms"],
      setup(props,{emit}) {
    
       
      const dateform=new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000).toISOString().substr(0, 10);
      const date = ref(dateform);
      const menu =ref(false);
      const modal= ref(false);
      const menu2=ref();
      
      
      
      const capture =(cap:any)=>{
        emit("dateForms",date.value)
        console.log(cap,"capture")
         
      }
    
        return {
        capture,
        date,
        menu,
        modal,
        menu2,
        }
      },
    });
    </script>
        