<template>
  <v-app>
    
    <v-navigation-drawer permanent app clipped fixed>
       <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.path"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      app
      color="primary"
      dark
      dense
    >
      <div class="d-flex align-center">
        Perritos
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'App',
  setup(){
    
    return {
       items: [
          { title: 'Home', icon: 'mdi-view-dashboard', path:'/' },
          { title: 'Favoritos', icon: 'mdi-image', path:'/favoritos' },
          { title: 'Equipos', icon: 'mdi-account-group', path:'/equipos' }, 
          { title: 'Temporadas', icon: ' mdi-soccer-field', path:'/temporadas' },   
        ],
    }
  },
});
</script>
